#
# MIT License
#
# (C) Copyright 2022-2023 Hewlett Packard Enterprise Development LP
#
# Permission is hereby granted, free of charge, to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included
# in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# Default group
/*                                                       @Cray-HPE/docs-csm-reviewers @Cray-HPE/pubs

# Metal Items
/background/ncn_*                                        @Cray-HPE/metal
/install/livecd                                          @Cray-HPE/metal
/operations/bare_metal                                   @Cray-HPE/metal
/operations/system_configuration_service                 @Cray-HPE/metal

# Continuous Integration Items
.github/                                                 @Cray-HPE/csm-devops
Jenkinsfile.github                                       @Cray-HPE/csm-devops

# CMS Items
/operations/boot_orchestration                           @Cray-HPE/cms-core-bos
/operations/CSM_product_management                       @Cray-HPE/cms-core-cfs @Cray-HPE/cms-core-csm-product
/operations/conman                                       @Cray-HPE/cms-core-console-logging
/operations/compute_rolling_upgrades                     @Cray-HPE/cms-core-crus
/operations/configuration_management                     @Cray-HPE/cms-core-cfs @Cray-HPE/cms-core-vcs
/operations/image_management                             @Cray-HPE/cms-core-ims @Cray-HPE/cms-core-images

# User Access items
/operations/UAS_user_and_admin_topics                    @Cray-HPE/user-access

# PET Items
/operations/artifact_management                          @Cray-HPE/platform-engineering
/operations/argo                                         @Cray-HPE/platform-engineering
/operations/kubernetes                                   @Cray-HPE/platform-engineering
/operations/multi-tenancy                                @Cray-HPE/platform-engineering
/operations/node_management/                             @Cray-HPE/platform-engineering @Cray-HPE/metal
/operations/package_repository_management                @Cray-HPE/platform-engineering
/operations/resiliency                                   @Cray-HPE/platform-engineering
/operations/security_and_authentication                  @Cray-HPE/platform-engineering
/operations/spire                                        @Cray-HPE/platform-engineering
/operations/system_management_health                     @Cray-HPE/platform-engineering
/operations/utility_storage                              @Cray-HPE/platform-engineering
/troubleshooting/kubernetes                              @Cray-HPE/platform-engineering
/workflows/                                              @Cray-HPE/platform-engineering

# HMS Items
/operations/firmware                                     @Cray-HPE/hardware-management
/operations/hardware_state_manager/                      @Cray-HPE/hardware-management
/operations/hmcollector                                  @Cray-HPE/hardware-management
/operations/hpe_pdu                                      @Cray-HPE/hardware-management
/operations/power_management                             @Cray-HPE/hardware-management
/operations/system_layout_service                        @Cray-HPE/hardware-management

# Network Items
/operations/network/                                     @Cray-HPE/management-network

# SAT Items
/operations/sat                                          @Cray-HPE/system-admin-toolkit-admin

# IUF Items
/operations/iuf/                                         @Cray-HPE/IUF

#Observability Items
/operations/observability                                @Cray-HPE/cray-monitoring

# Include SSI on these CSM items.
/install/                                                @Cray-HPE/docs-csm-reviewers @Cray-HPE/metal @Cray-HPE/ssi-reviewers
/operations/                                             @Cray-HPE/docs-csm-reviewers @Cray-HPE/ssi-reviewers
/upgrade/                                                @Cray-HPE/docs-csm-reviewers @Cray-HPE/ssi-reviewers
